<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>QNC - Brand</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">qnc brand.</div>
            <ul class="navItems">
                <li><a href="../../index.html">home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="#">skills</a></li>
                <li><a href="contacts.html">contacts</a></li>
                <li><a href="#">about</a></li>
            </ul>

            <div class="links">
                
                <!--<a href="https://www.linkedin.com"><i class="linkedin"><ion-icon name="logo-linkedin"></ion-icon></i></a>-->

                <a href="https://www.youtube.com/@QNCbrand"><i class="youtube"><ion-icon name="logo-youtube"></ion-icon></i></a>

                
                <a href="https://www.instagram.com/qnc_brand"><i class="instagram"><ion-icon name="logo-instagram"></ion-icon></i></a>

                
                <a href="https://www.twitter.com/@QNC1819560"><i class="twitter"><ion-icon name="logo-twitter"></ion-icon></i></a>

                
                <a href="https://qnccompany3@gmail.com"><i class="gmail"><ion-icon name="logo-google"></ion-icon></i></a>

                
                <a href="https://wa.me/+255786523124"><i class="whatsapp"><ion-icon name="logo-whatsapp"></ion-icon></i></a>
            </div>
        </nav>

            <div class="wrapper">
                <div class="cols cols0">
                    <span class="topline">Bonjour</span>
                        <h1>About <span class="multiText">Us</span></h1>
                        <p> 
                           <h2><strong>Who is QNC?</strong></h2> 
                                <p> It was 2016 where Nickson, David and Calvin met for the eigth grade to pursue their academic. Nickson had well development in sound and graphic design, David had well development in graphics and networking, Calvin had well development in graphics and singing (Hip Hop) music .As friends came up with an idea of unity in 2019 in the eleventh grade because their desires were flowing in the same vent.
                            In the year 2022 Calvin came up with the idea of forming a brand and named it QNC basing on the first letter of their artist names where letter Q means Qyrux Badan who is David, letter N means Nickelreelz who is Nickson and letter C means cally-wise who is Calvin. Soon July in the same year they teamed up with a fellow called Samuel, artist name called Sammy who is a music artist and the brand became tetrad.</p> <br> <br>
                            
                            <h2><strong>When the brand found?</strong></h2>
                                <p>Officially after naming the brand in 26thJUNE 2022 the brand officially started with plans to reach desired goals tabled by the QNC brand themselves such as launching a website and reaching the world of sound and graphic.</p>  <br> <br>
                           
                            <h2><strong>The Brand Deals With</strong></h2>
                                <p>QNC Brand is mainly established for Sound and Graphics design. in Sound QNC deals with BEAT making and BEAT RE-MAKING and music in general . Beats and Beats re-making that made are Boom bap ,Reggaeton, Dum and bass, Trap ,dance, amapiano, The funky drummer, Reggae beats and on the side of Graphics what QNC does is Photo shooting, Photo editing , videography, Video editing, Logos Designing, Flyers design, Identity cards design, Poster design and more in graphic design. Also Music from Artists in QNC brand Produced And Directed by QNC Brand itself. </p> <br>
                            
                            <h2><strong>Our mission</strong></h2>
                                <p></p> <br>
                        </p> 
                     <div class="btns">
                        <button>Subscribe</button>
                        <button>Hire us</button>
                    </div>
                </div>

                <div class="cols cols1">
                    <div class="imgbox">
                        <img src="Sneaker.png" alt="" id="splash">
                    </div>
                </div>
            </div>
    </div>
    <div class="Devtag">
        <h2><em>Powered by nickel</em></h2>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>