<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>QNC - Brand</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">qnc brand.</div>
            <ul class="navItems">
                <li><a href="index.html">home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="#">skills</a></li>
                <li><a href="#">contacts</a></li>
                <li><a href="about.html">about</a></li>
            </ul>

            <div class="links">
                
                <!--<a href="https://www.linkedin.com"><i class="linkedin"><ion-icon name="logo-linkedin"></ion-icon></i></a>-->

                <a href="https://www.youtube.com/@QNCbrand"><i class="youtube"><ion-icon name="logo-youtube"></ion-icon></i></a>

                
                <a href="https://www.instagram.com/qnc_brand"><i class="instagram"><ion-icon name="logo-instagram"></ion-icon></i></a>

                
                <a href="https://www.twitter.com/@QNC1819560"><i class="twitter"><ion-icon name="logo-twitter"></ion-icon></i></a>

                
                <a href="https://qnccompany3@gmail.com"><i class="gmail"><ion-icon name="logo-google"></ion-icon></i></a>

                
                <a href="https://wa.me/+255786523124"><i class="whatsapp"><ion-icon name="logo-whatsapp"></ion-icon></i></a>
            </div>
        </nav>

            <div class="wrapper">
                <div class="cols cols0">
                    <span class="topline">Thank you. &#128591;&#128591;</span>
                        <h1>Our <span class="multiText">Contacts</span></h1>
                        <p> 
                           <h2><strong>for technological problems</strong></h2> <br>
                                    <p> +255 786 523 124</p> <br> <br>
                            <h2><strong>for feedback and more details</strong></h2> <br>
                                    <p> +255 656 061 495</p>  <br> <br>
                            <h2><strong>for promotion code</strong></h2> <br>
                                    <p> +255 769 265 900</p>
                        </p>
                     <div class="btns">
                        <button>Subscribe</button>
                        <button>Hire us</button>
                    </div>
                </div>

                <div class="cols cols1">
                    <div class="imgbox">
                        <img src="Sneaker.png" alt="" id="splash">
                    </div>
                </div>
            </div>
    </div>
    <div class="Devtag">
        <h2><em>Powered by nickel</em></h2>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>